/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #F9FAFB;
  color: #4B5563;
}

button {
  padding: 0.75rem 1rem;
  font-size: 1.125rem;
  background-color: #22C55E;
  color: #F9FAFB;
  border-radius: 0.375rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

label {
  padding-bottom: 0.5rem;
  font-size: 1.125rem;
  color: #22C55E;
}

textarea {
  border-radius: 0.375rem;
  padding: 0.75rem;
  color: #22C55E;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #22C55E;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
  color: #22C55E;
}

p {
  font-size: 1.125rem;
  color: #22C55E;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-width: 36rem;
  width: 100%;
}
